<!DOCTYPE html>
<html>
<head>
  <title>alldone</title>
  <meta name="viewport" content="width=device-width, iniial-scale=1">
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Varela+Round", "https://fonts.googleapis.com/css?family=PT+Sans", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <ul class="nav nav-tabs styled-font">
    <li><%= link_to "all done", root_path %></li>
    <div class="pull-right user-info">
      <% if user_signed_in? %>
        <li>Signed in as: <strong><%= current_user.email %></strong> |</li>
        <li><%= link_to 'Edit profile', edit_user_registration_path%> - </li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
      <% else %>
      <!-- # #2 display Sign Up and Sign In buttons if the user is not logged in-->
        <li><%= link_to "Sign Up", new_user_registration_path %> -
        <%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </div>
  </ul>
  </div>
  <%= yield %>
</body>
</html>
